html, body {
  margin: 0;
  background-color: gray;
}

#p5-canvas {
  position: absolute;
  left: 300px;
  top: 200px;

  background-color: white;

  width: 700px;
  height: 500px;

  border-width: 0;
  margin: 0;
  padding: 0;
}

.instructions {
  position: absolute;
  left: 300px;
  top: 20px;
}
