html, body {
  /* margin: 0; */
  padding: 0;
  /* background-color: #fffde1; */
  background-color: #000000;
  font-family: 'Poppins', sans-serif;
  color: rgba(255, 255, 255);
}

canvas {
  display: block;
}

#allContents {
  /* background-color: #F00; */
  position: absolute;
  /* top: 50px; */
  left: 50%;
  /* width: 50%; */
  /* height: 100%; */
  transform: translate(-50%, 0%);
}

.buttons {
  color: white;
  position: absolute;;
  top: 200px;
  left: 50px;
  font-size: 25px;
  z-index: 1;
}

.bhtitle {
  font-size: 32px;
  font-family: 'Poppins', sans-serif;
}

#myContainer {
  z-index: -1;
  position: fixed;
  /* position: absolute; */
  /* top: 172px; */
}

#top-box {
  background-color: #F00;
  position: absolute;
  top: 20px;
  left: 50%;
  width: 100%;
  height: 120px;
  transform: translate(-50%, 0%);
  /* transform: translate(-50%, -50%); */
}
.title {
  font-size: 50px;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}
.subtitle {
  font-size: 30px;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

h2 {
  font-size: 30px;
  /* margin: 0px; */
  color: #76448e;
  font-family: 'Montserrat', sans-serif;
}

/* Reference for coding the menu:
https://blog.csdn.net/dengyunhui1210/article/details/101764150

*/
.menu {
  width: 2000px;
  height: 50px;
  margin: 0px auto 0;
  font-size: 0;
  list-style: none;
  padding: 0;
  position: absolute;
  top: 60px;
}

.menu li{
  display: inline-block;
  width: 300px;
  height: 50px;
  border: 1px solid #76448e;
  font-size: 20px;

  margin-right:-1px;
  text-align: center;
  line-height: 48px;
}

.menu a{
  color: #76448e;
  text-decoration: none;
}

.menu li:hover{
  background-color: #f6efef;
}

.texts {
  /* margin: auto;
  width: 50%; */
  width: 1150px;
  position: absolute;
  top: 190px;
  left: 55px;
}

img {
  width: 800px;
  /* position: absolute; */
  /* top: 190px; */
  left: 55px;
}

p {
  margin: 0px;
  font-size: 18px;
  text-indent: 50px;
  line-height: 2;

}

a {
  color: #76448e;
}

.noindent {
  text-indent: 0px;
}



 /* starry night */
